<header id="header" class="alt">
    <h1><a href="index.html">Virtual Services & support</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menú</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="barra_menu/esteganografia/esteganografia.html">Esteganografía</a></li>
                        <li><a href="barra_menu/plantillas/plantillas.html">Plantillas</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>
