#toggleDark {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 45px;
    height: 45px;
    background: transparent;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    cursor: pointer;
    z-index: 99999;
    color: rgb(0, 0, 0);
    box-shadow: transparent;
}

/* modo oscuro activado */
body.dark #toggleDark {
    background: transparent;
    color: rgb(255, 255, 255);
}

/* modo oscuro fondo */
body.dark {
    background: #0d0d0d !important;
    color: #ffffff !important;
}
